<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62250257427-ffmegu4j95rg32u2fpt5r72q9q32dl2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62250257427-ffmegu4j95rg32u2fpt5r72q9q32dl2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDxvXjBgSdHY8nDmOcc6ExPbclAbnjECuM</string>
	<key>GCM_SENDER_ID</key>
	<string>62250257427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.com.plantlink</string>
	<key>PROJECT_ID</key>
	<string>plantlink-f66de</string>
	<key>STORAGE_BUCKET</key>
	<string>plantlink-f66de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62250257427:ios:5b51d9208eb499efc383e6</string>
</dict>
</plist>